<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_change_word.css') }}">
    <script src="{{url_for('static', filename='scripts/special_symbols.js')}}"></script>
</head>
<body>
  <div class="container">
      {% include 'theme.html' %}
      <h1>{{title}}</h1>
      <hr><br><br><br>

      {% if msg %}
          <script>
              alert('{{msg}}');
              window.location.href = '{{href_back}}';
          </script>
      {% endif %}

      {% if lang == 'DE' %}
        <h1>СПЕЦ: ä  ö  ü  ß</h1>
        <br><br>
      {% endif %}

      <form action="." method="post">
          <input class="input" id="title-input" type="text" name="note-title" value="{{note_title}}" placeholder="Введите название..." required>
          <br><br><br>
          <textarea class="input" id="content-input" name="note-content" placeholder="Введите текст..." required>{{note_content}}</textarea>
          <br><br><br><br>
          <button type="submit">{{title}}</button>
      </form>
      <br>
      <a href="{{href_back}}"><button>Назад</button></a>
  </div>
  <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
</body>
</html>