<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_change_word.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    <script src="{{url_for('static', filename='scripts/special_symbols.js')}}"></script>
</head>
<body>
  <div class="container">
      {% include 'theme.html' %}
      <h1>{{title}}</h1>
      <hr>

      {% if msg %}
          <script>
              alert('{{msg}}');
              // window.location.href = '{{href_back}}';
          </script>
      {% endif %}

      {% if lang in ('DE', 'UK') %}
        <h2>Копировать</h2>
        {% include 'special_symbols.html' %}
        <script>
            var specialSymbolsBtn = document.getElementById('special-symbols-btn');
            var specialSymbols = document.getElementById('special-symbols');
            showHideSpecialSymbolsBtn('{{lang}}', specialSymbolsBtn, specialSymbols);
        </script>
        <br><br>
      {% endif %}

      <form action="." method="post" onsubmit="submit_btn.disabled = true; return true;">
          <input class="input" id="title-input" type="text" name="note-title" value="{{note_title}}" placeholder="Введите название..." required oninput="submit_btn.disabled=false;">
          <br><br><br>
          <textarea class="input" id="content-input" name="note-content" placeholder="Введите текст..." required rows="15" oninput="submit_btn.disabled=false;">{{note_content}}</textarea>
          <br><br><br><br>
          <button id="submit_btn" type="submit">{{title}}</button>
            <script>
              if ('{{note_title}}')
                submit_btn.disabled = true;
          </script>
      </form>
      <br>
      <a href="{{href_back}}"><button>Назад</button></a>
  </div>
  <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
</body>
</html>