<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>My Dictionary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dictionary.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/special_symbols.js')}}"></script>
</head>
<body oncontextmenu="return false;">
    {% if is_err %}
        <script>
            alert('Совпадений не найдено!');
            window.location.href = '{{href_back}}';
        </script>
    {% endif %}

    {% if upload_new_words %}
        <script>
            alert('Слова успешно загружены!');
            window.location.href = '/dictionary/{{lang}}/';
        </script>
    {% else %}
        <div class="container">
            {% include 'theme.html' %}
            <h1>{{ 'Найдено' if is_search else dictionary_lang_name + ' словарь' }} ({{words|length}})</h1>

            {% if words|length > 0 %}
                <a href="/dictionaries/"><img title="К выбору словаря" src="{{url_for('static', filename='img/back_icon.png')}}"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img title="Удалить всё" src="{{url_for('static', filename='img/delete_all_icon.png')}}" onclick="deleteWord(0, '', '{{dictionary_lang_code}}');">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/dictionary/{{dictionary_lang_code}}/download/"><img title="Скачать словарь" src="{{url_for('static', filename='img/download_icon.png')}}"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/dictionary/{{dictionary_lang_code}}/upload/"><img title="Загрузить словарь" src="{{url_for('static', filename='img/upload_icon.png')}}"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img id="saying-words-img" title="Произнести все слова по порядку" src="{{url_for('static', filename='img/start_saying_words.png')}}" onclick="startStopSayingAllWords();">
                <br><br>
                {% if dictionary_lang_code in ('DE', 'UK') %}
                    {% include 'special_symbols.html' %}
                    <script>
                        var specialSymbolsBtn = document.getElementById('special-symbols-btn');
                        var specialSymbols = document.getElementById('special-symbols');
                        showHideSpecialSymbolsBtn('{{dictionary_lang_code}}', specialSymbolsBtn, specialSymbols);
                    </script>
                    <br><br>
                {% endif %}
                <input id="original-input-word" type="text" placeholder="Введите слово...">
                <img id="search-img" title="Поиск" src="{{url_for('static', filename='img/search_icon.png')}}" onclick="findWordCard();">
                <br><br>
                <label>Сортировать по</label><br><br>
                <input id="alphabet" type="radio" value="alphabet" name="sort_by" onclick="sortWords();"><label for="alphabet">алфавиту</label>
                <input id="date_to_add" type="radio" value="date_to_add" name="sort_by" onclick="sortWords('date');"><label for="date_to_add">Дате добавления</label>
                {% include 'up_down_scroll.html' %}
                <br><br><br>

                <div style="margin-left: 80%;">
                    <input type="button" value="Выделить всё" onclick="checkedWords.forEach(item => item.checked = true);">
                    <input type="button" value="Снять выделение" onclick="checkedWords.forEach(item => item.checked = false);">
                </div>
            {% else %}
                <a href="/dictionary/{{dictionary_lang_code}}/upload/"><img title="Загрузить словарь" src="{{url_for('static', filename='img/upload_icon.png')}}"></a>
            {% endif %}

            <table id="words-table">
                <script>
                    var parser = new DOMParser();
                    var parse = (word) => parser.parseFromString(word, 'text/html').body.innerHTML;
                    var originalDecoded = '';
                    var translateDecoded = '';
                    var transcriptionDecoded = '';
                </script>
                {% for word in words %}

                <tr>
                    <td>
                        <div class="word-card">
                            <br>
                            <img class="word-say" id="say_word_{{word.0}}" title="Произнести на {{dictionary_lang_code}}" src="{{url_for('static', filename='img/say_word_icon.png')}}">
                            <h2 class="word" title="Клик для перевода" data-trans="{{word.2}}" onclick="swapWords(this);" oncontextmenu="copyTextToClipBoard(this.innerHTML);">{{word.1}}</h2>
                            <h3 class="transcription">{{word.3 if word.3 else ''}}</h3>
                            <label class="date-to-add">{{word.5}}</label><br><br>
                            <img class="word-delete" title="Удалить" id="del_word_{{word.0}}" src="{{url_for('static', filename='img/delete_word_icon.png')}}"/>
                            <a class="word-change" id="link_word_{{word.0}}"><img title="Изменить" src="{{url_for('static', filename='img/change_word_icon.png')}}"/></a>
                            <script>
                                originalDecoded = parse('{{word.1}}');
                                translateDecoded = parse('{{word.2}}');
                                transcriptionDecoded = parse('{{word.3}}');

                                addWordsToList({{word.0}}, originalDecoded, translateDecoded, transcriptionDecoded, '{{dictionary_lang_code}}', '{{word.5}}');

                                document.getElementById('link_word_{{word.0}}').href = `/dictionary/{{dictionary_lang_code}}/change/{{word.0}}/${originalDecoded}/${translateDecoded}/{{word.3 if word.3 else 'ES'}}/`;

                                (function (_word) {
                                    document.getElementById('say_word_{{word.0}}').onclick = () => sayWord(_word, '{{dictionary_lang_code}}');
                                    document.getElementById('del_word_{{word.0}}').onclick = () => deleteWord({{word.0}}, _word, '{{dictionary_lang_code}}');
                                })(originalDecoded);
                            </script>
                        </div>
                    </td>
                    <td>
                        <input id="word-{{loop.index0}}" class="word-checker" type="checkbox">
                        <label for="word-{{loop.index0}}">Выделить</label>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <hr><br><br><br>
            <a href="{{href_back}}"><button>Назад</button></a>
        </div>
    {% endif %}
    <script>
        var searchInput = document.getElementById('original-input-word');
        var checkedWords = document.querySelectorAll('.word-checker');

        if (searchInput) {
            searchInput.focus();

            searchInput.addEventListener('keydown', (event) => {
                if (event.code == 'Enter')
                    findWordCard();
            });
        }

        var wordCards = document.getElementsByClassName('word-card');
        // var wordSayImgs = document.getElementsByClassName('word-say')
        // var wordOriginals = document.getElementsByClassName('word');
        // var wordTranscriptions = document.getElementsByClassName('transcription');
        // var wordDates = document.getElementsByClassName('date-to-add');
        // var wordDeleteImgs = document.getElementsByClassName('word-delete');
        // var wordChangeLinks = document.getElementsByClassName('word-change');

        var wordKey = 'word_{{dictionary_lang_code}}';

        if (!localStorage.getItem('wordsScroll'))
            localStorage.wordsScroll = JSON.stringify({words_scroll : {}});

        var langsPositions = JSON.parse(localStorage.getItem('wordsScroll')).words_scroll;

        window.addEventListener('beforeunload', function(e) {
            var lastKnownScrollPosition = window.scrollY;

            langsPositions[wordKey] = lastKnownScrollPosition;
            localStorage.wordsScroll = JSON.stringify({words_scroll : langsPositions});
        });

        window.scrollTo({
          top: langsPositions[wordKey],
          left: 0,
          behavior: 'smooth'
        });
    </script>
    <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
</body>
</html>