<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download_upload_dictionary.css') }}">
    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/file.js')}}"></script>
</head>
<body>
    <script>
        //try {
            //listWords = JSON.parse(sessionStorage.getItem('words')).words;

            //if (listWords.length == 0) {
                //alert('В словаре нет ни одного слова');
                //window.location.href = '/';
            //}
        //} catch(TypeError) {
            //alert('Отсутствует список слов');
            //window.location.href = '/';
        //}
    </script>


    <div class="container">
        {% include 'theme.html' %}
        <h1>{{title}}</h1>
        <hr><br><br><br>
        {% if 'Скачать словарь' in title %}
            {% if words|length == 0 %}
                <script>
                    alert('В словаре нет ни одного слова');
                    window.location.href = '/';
                </script>
            {% endif %}
            {% include 'delimiters.html' %}
            <h2>Количество слов {{words|length}}</h2>
            <input id="all" type="radio" value="all_words" name="word_amount" checked
                   onclick="showHideWords('none');">
            <label for="all">Все слова</label>
            <input id="opt" type="radio" value="optional" name="word_amount" onclick="showHideWords('inline');">
            <label for="opt">Опционально</label><br><br>
            <input id="amount-words" min="1" max="{{words|length}}" value="{{words|length}}" type="number"
                   style="display: none;"><br><br>
            <button id="selectWordsBtn" style="display: none;"
                    onclick="selectWordsForSaveInFile(document.querySelector('#amount-words').value);">Выбрать</button>
            <br><br>
            <table id="words-table" align="center" style="display: none">
                {% for word in words %}
                <tr>
                    <script>
                        listOfWords.push(`{{word.0}},{{word.1}}`);
                        listOfSelectedWords.push(`{{word.0}},{{word.1}}`);
                    </script>
                    <td><input id="words-ckbox_{{loop.index0}}" class="words-checkbox" type="checkbox" checked
                               onclick="incrementDecrementSelectedWordsAmount(this.checked, '{{word.0}}', '{{word.1}}');"></td>
                    <td><label for="words-ckbox_{{loop.index0}}">{{word.0}}</label></td>
                    <td><label for="words-ckbox_{{loop.index0}}">{{word.1}}</label></td>
                </tr>
                {% endfor %}
            </table>
            <br><br><br><br>
            <h2>Формат файла</h2>
            <input id="txt-file" type="radio" value="txt" name="file_format" checked>
            <label for="txt-file">TXT</label>
            <input id="csv-file" type="radio" value="csv" name="file_format">
            <label for="csv-file">CSV</label><br><br><br>
            <label for="file-name">Название файла</label>
            <input id="file-name" type="text" value="words" placeholder="Введите название...">
            <br><br><br><br>
            <a id="download-file" href="#"><button onclick="createFile();">Сформировать файл</button></a>
        {% else %}
            <form enctype="multipart/form-data" method="POST" action="/upload_file/{{lang}}/">
                {% include 'delimiters.html' %}
                <input id="upload-file" type="file" accept=".txt, .csv" name="words"><br><br>
                <button type="submit">Загрузить</button>
            </form>
        {% endif %}
        <br><br>
        <a href=".." title="Нажмите"><button>Назад</button></a>
    </div>
    <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
</body>
</html>