<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download_upload_dictionary.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/file.js')}}"></script>
</head>
<body>
    <script>
        //try {
            //listWords = JSON.parse(sessionStorage.getItem('words')).words;

            //if (listWords.length == 0) {
                //alert('В словаре нет ни одного слова');
                //window.location.href = '/';
            //}
        //} catch(TypeError) {
            //alert('Отсутствует список слов');
            //window.location.href = '/';
        //}
    </script>


    <div class="container">
        {% include 'theme.html' %}
        <h1>{{title}}</h1>
        <hr><br><br><br>
        {% if 'Скачать словарь' in title %}
            {% if words|length == 0 %}
                <script>
                    alert('В словаре нет ни одного слова');
                    window.location.href = '/';
                </script>
            {% endif %}
            {% include 'delimiters.html' %}
            <table align="center">
                <tr>
                    <td>
                        <h2 id="total-words">Количество слов {{words|length}}</h2>
                    </td>
                    <td>
                        <select id="groups-selector" onchange="showWordsByGroup(this.value, 'save');">
                            <option value="all">Все слова</option>
                            <option value="without_group">Без группы</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input id="all" type="radio" value="all_words" name="word_amount" checked
                   onclick="showHideWords('none');">
            <label for="all">Все слова</label>
            <input id="opt" type="radio" value="optional" name="word_amount" onclick="showHideWords('inline');">
            <label for="opt">Опционально</label><br><br>
            <input id="amount-words" min="1" max="{{words|length}}" value="{{words|length}}" type="number"
                   style="display: none;"><br><br>
            <button id="selectWordsBtn" style="display: none;"
                    onclick="selectWordsForSaveInFile(document.querySelector('#amount-words').value);">Выбрать</button>
            <br><br>
            <table id="words-table" align="center" style="display: none">
                <script>
                    var parser = new DOMParser();
                    var parse = (word) => parser.parseFromString(word, 'text/html').body.innerHTML;
                    var originalDecoded = '';
                    var translateDecoded = '';
                    var transcriptionDecoded = '';
                    var groupsSelector = document.getElementById('groups-selector');
                    var uniqueGroups = new Set();
                </script>
                <tr>
                    <td></td>
                    <td>Original</td>
                    <td>Translation</td>
                    <td>Transcription</td>
                    <td>Group</td>
                </tr>
                {% for word in words %}
                    <tr>
                        <script>
                            originalDecoded = parse('{{word.0}}');
                            translateDecoded = parse('{{word.1}}');
                            transcriptionDecoded = parse('{{word.2}}');

                            if ('{{word.7}}'.length > 0 && !uniqueGroups.has('{{word.7}}')) {
                                var option = document.createElement('option');
                                option.innerHTML = '{{word.7}}';
                                groupsSelector.appendChild(option);
                                uniqueGroups.add('{{word.7}}');
                            }

                            // listOfWords.push(`${originalDecoded},${translateDecoded}`);
                            listOfSelectedWords[`${originalDecoded},${translateDecoded},${transcriptionDecoded},{{word.7}}`] = true;
                        </script>
                        <td><input id="words-ckbox_{{loop.index0}}" class="words-checkbox" type="checkbox" checked></td>
                        <td><label for="words-ckbox_{{loop.index0}}">{{word.0}}</label></td>
                        <td><label for="words-ckbox_{{loop.index0}}">{{word.1}}</label></td>
                        <td><label for="words-ckbox_{{loop.index0}}">{{word.2}}</label></td>
                        <td><label for="words-ckbox_{{loop.index0}}">{{word.7}}</label></td>
                    </tr>
                    <script>
                        (function(rowPattern) {
                            document.getElementById('words-ckbox_{{loop.index0}}').onclick = function() {incrementDecrementSelectedWordsAmount(this, rowPattern)};
                        })(`${originalDecoded},${translateDecoded},${transcriptionDecoded},{{word.7}}`);
                    </script>
                {% endfor %}
            </table>
            <br><br><br><br>
            <h2>Формат файла</h2>
            <input id="txt-file" type="radio" value="txt" name="file_format" checked>
            <label for="txt-file">TXT</label>
            <input id="csv-file" type="radio" value="csv" name="file_format">
            <label for="csv-file">CSV</label><br><br><br>
            <label for="file-name">Название файла</label>
            <input id="file-name" type="text" value="words" placeholder="Введите название...">
            <br><br><br><br>
            <a id="download-file" href="#"><button onclick="createFile();">Сформировать файл</button></a>
        {% else %}
            <form enctype="multipart/form-data" method="POST" action="/upload_file/{{lang}}/">
                {% include 'delimiters.html' %}
                <input id="has-columns" type="checkbox" name="has_columns">
                <label for="has-columns">Есть названия столбцов?</label><br><br>
                <input id="upload-file" type="file" accept=".txt, .csv" name="words"><br><br>
                <button type="submit">Загрузить</button>
            </form>
        {% endif %}
        <br><br>
        <a href=".." title="Нажмите"><button>Назад</button></a>
    </div>
    <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
</body>
</html>