<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Игра</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
    <script>
        var sourceLang = sessionStorage.getItem('source_lang');
    </script>
</head>
<body>
    <div class="container">
        {% include 'theme.html' %}
        <h1>Игра в слова на  {{lang}}</h1>
        <hr><br><br><br>
        <label id="current_total" style="font-size: 30px;"></label><br><br>
<!--        <label id="right_total">0</label>-->
<!--        <label id="wrong_total">0</label><br><br>-->
        <img id="question-status" src="{{url_for('static', filename='img/thinking_icon.png')}}"/><br>

        {% if lang_code == 'DE' %}
            {% include 'special_symbols.html' %}
        {% endif %}

        <label id="right-answer" style="color: green; font-size: 30px;"></label>
        <br><br><br>

        <input type="checkbox" id="say_words_automatically_checkbox" onclick="if (this.checked) sayWord(`${document.getElementById('original-word').innerHTML}`, sourceLang);">
        <label for="say_words_automatically_checkbox">Произносить автоматически</label><br><br>

        <div class="word-for-translate">
            <h2 title="Произнести (<Ctrl>)" id="original-word" onclick="sayWord(`${this.innerHTML}`, sourceLang);" style="cursor: pointer;">ORIGINAL</h2>
            <h3 id="transcription-word">TRANSCRIPTION</h3>

            <div class="word-choose-input" style="display: none">
                <input id="original-input-word" type="text" title="Введите перевод" placeholder="Перевод...">
                <br><br>
            </div>

            <div class="word-choose-cards" style="display: none">
                <div class="word-card" onclick="readWordCardText(this);" data-idx="0">...</div><br>
                <div class="word-card" onclick="readWordCardText(this);" data-idx="1">...</div><br>
                <div class="word-card" onclick="readWordCardText(this);" data-idx="2">...</div><br>
                <div class="word-card" onclick="readWordCardText(this);" data-idx="3">...</div><br>
                <br><br>
            </div>

            <button id="check-answer" onclick="checkTranslateWord(this);">Готово</button>
        </div><br><br><br><br><br><br>

        <button onclick="checkBack();">Назад</button>
        <script>
            var wordCards = sessionStorage.getItem('word_cards');
            var sayWordsAutomaticallyCheckbox = document.getElementById('say_words_automatically_checkbox');

            function setWordCardStyle(div, border, width, marginLeft) {
                    div.style.border = border;
                    div.style.width = width;
                    div.style.marginLeft = marginLeft;
                }

            function readWordCardText(wordCard) {

                for (var card of cards)
                    setWordCardStyle(card, '5px solid DarkCyan', '50%', '25%');

                setWordCardStyle(wordCard, '10px solid Red', '60%', '20%');

                translateWordInput.value = wordCard.innerHTML;

                wordCardIndex = +wordCard.getAttribute('data-idx');
            }

            function checkBack() {
                if (confirm('Вы действительно хотите выйти? Весь прогресс будет утерян'))
                    window.location.href = '..';
            }

            var originalWord = document.getElementById('original-word');
            var transcriptionWord = document.getElementById('transcription-word');

            if (sourceLang == 'RU')
                transcriptionWord.hidden = true;

            // if (sessionStorage.getItem('take_from_end') != '1')
            // shuffle();

            setOriginalWord(sourceLang);

            var lenListWords = listWords.length;

            if (wordCards === 'true') {
                document.getElementsByClassName('word-choose-cards')[0].style.display = 'block';
                var cards = document.getElementsByClassName('word-card');

                var originTrans = {}

                var originalWordIndex = 0;
                for (var word of listWords) {
                    var variants = [sourceLang == 'RU' ? word.original : word.translate];

                    var randWordIndexes = [originalWordIndex];
                    for (var i = 0; i < 3; i++) {
                        var randWordIdx = Math.floor(Math.random() * (lenListWords - 1 - 0 + 1)) + 0;

                        if (randWordIndexes.includes(randWordIdx)) {
                            i--;
                            continue;
                        }

                        randWordIndexes.push(randWordIdx);

                        var randWord = sourceLang == 'RU' ? listWords[randWordIdx].original : listWords[randWordIdx].translate;

                        variants.push(randWord);

                    }

                    shuffle(variants);
                    originTrans[`${originalWordIndex++}_${sourceLang == 'RU' ? word.translate : word.original}`] = variants;
                }

                var idx = 0;
                for (var variantWord of originTrans[`${idx}_${originalWord.innerHTML}`])
                    cards[idx++].innerHTML = variantWord;

            } else {
                document.getElementsByClassName('word-choose-input')[0].style.display = 'block';
            }

            wordIndex++;

            document.getElementById('current_total').innerHTML = `1/${lenListWords}`;

            var translateWordInput = document.getElementById('original-input-word');

            function listener(event, isCards) {
                    switch (event.code) {
                        case 'Enter':
                            checkTranslateWord(document.getElementById('check-answer'));
                            break;
                        case 'ControlRight':
                            sayWord(`${document.getElementById('original-word').innerHTML}`, sourceLang);
                            break;
                        case 'ArrowUp':
                            if (isCards) {
                                wordCardIndex--;
                                if (wordCardIndex <= -1)
                                    wordCardIndex = 3;

                                readWordCardText(cards[wordCardIndex]);
                            }
                            break;
                        case 'ArrowDown':
                            if (isCards) {
                                wordCardIndex++;
                                if (wordCardIndex === 4)
                                    wordCardIndex = 0;

                                readWordCardText(cards[wordCardIndex]);
                            }
                            break;
                    }
                }

            if (wordCards === 'true') {
                var wordCardIndex = -1;
                document.body.addEventListener('keydown', event => listener(event, true));
            } else {
                translateWordInput.focus();
                translateWordInput.addEventListener('keydown', event => listener(event, false));
            }

        </script>
    </div>
    <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/special_symbols.js')}}"></script>
</body>
</html>