<button id="special-symbols-btn" style="width: 100px" onclick="showHideSpecialSymbols();">Спец</button><br>
<div id="special-symbols" style="display: none; width: 20%; margin-left: 40%;">
    <button class="DE" onclick="addSpecialSymbolInInput(this);">ä</button>
    <button class="DE" onclick="addSpecialSymbolInInput(this);">ö</button>
    <button class="DE" onclick="addSpecialSymbolInInput(this);">ü</button>
    <button class="DE" onclick="addSpecialSymbolInInput(this);">ß</button>
    <button class="UK" onclick="addSpecialSymbolInInput(this);">ґ</button>
    <button class="UK" onclick="addSpecialSymbolInInput(this);">є</button>
    <button class="UK" onclick="addSpecialSymbolInInput(this);">i</button>
    <button class="UK" onclick="addSpecialSymbolInInput(this);">ї</button>
</div>