<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Statistic</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/statistic.css')}}">
</head>
<body>
    <div class="container">
        {% include 'theme.html' %}
        <h1>Статистика игры в слова на {{lang}}</h1>
        <hr><br><br><br>

        <table id="statistic-table">
            <tr>
                <td>Всего вопросов</td>
                <td>{{total}}</td>
            </tr>
            <tr>
                <td>Отвечено верно</td>
                <td>{{right}}</td>
            </tr>
            <tr>
                <td id="wrong-ans">Отвечено неверно</td>
                <td>{{wrong}}</td>
            </tr>
            <tr>
                <td>Процент</td>
                <td>{{percent}}%</td>
            </tr>
        </table>
        <hr><br><br><br>
        <button onclick="restartGame(true);" title="Нажмите <Enter>">Начать заново</button><br><br>

        {% if wrong > 0 %}
            <button onclick="updateForgottenWords(this);">Добавить в забывающиеся</button><br><br>
        {% endif %}

        <button title="Нажмите Q" onclick="back();">Назад</button>
    </div>
    <script>
        var listWords = JSON.parse(sessionStorage.getItem('words')).words;

        function back() {
            window.location.href = '../../../../../';
        }

        function restartGame(withAllWords) {
            if (withAllWords) {
                var copyWords = JSON.parse(sessionStorage.getItem('copyWords')).copy_words;

                if (copyWords.length > 0)
                    listWords = copyWords;
            }

            for (var i = listWords.length - 1; i >= 0; i--)
                listWords[i].is_wrong_answer = null;

            sessionStorage.words = JSON.stringify({words: listWords});

            window.location.href = '../../../../';
        }

        function updateForgottenWords(btn) {
            var wrongIds = listWords.filter(wordInfo => wordInfo.is_wrong_answer).map(wordInfo => wordInfo.id);

            fetch(`.`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({wrongIds: wrongIds})
            });

            alert('Неверно отвеченные слова обновлены');
            btn.disabled = true;
        }

        var wrongAnswers = document.getElementById('wrong-ans');

        if ({{wrong}} > 0) {
            // listWords = JSON.parse(sessionStorage.getItem('words')).words;

            wrongAnswers.style.color = 'Red';
            wrongAnswers.style.cursor = 'pointer';
            wrongAnswers.title = 'Повторить с этими словами';
            wrongAnswers.onclick = () => {
                if (JSON.parse(sessionStorage.getItem('copyWords')).copy_words.length == 0)
                    sessionStorage.copyWords = JSON.stringify({copy_words: listWords});

                listWords = listWords.filter(wordInfo => wordInfo.is_wrong_answer);

                if (listWords.length < 4)
                    sessionStorage.setItem('word_cards', false);

                restartGame(false);
                // sessionStorage.words = JSON.stringify({words: listWords});
                // window.location.href = '../../../../';
            }
        } else {
            wrongAnswers.style.color = 'Green';
        }

        document.body.addEventListener('keydown', (event) => {

            switch(event.code) {
                case 'Enter':
                    restartGame(true);
                    break;
                case 'KeyQ':
                    back();
                    break;
                default:
                    return;
            };

            }, false);
    </script>
    <script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
</body>
</html>