<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 id="text">TEXT</h1>
    <button class="btn" onclick="changeText();">PRESS</button>
    <script>
        alert('HELLO');
<!--        try {-->
<!--            null.toLowerCase();-->
<!--        } catch (Exception) {-->
<!--            alert('Вщзникло исключение');-->
<!--        }-->

<!--        function changeText() {-->
<!--            document.querySelector('#text').innerHTML = '"';-->
<!--        }-->

<!--        function func1(id, word) {-->
<!--            // alert(word);-->
<!--            document.getElementsByClassName('btn')[0].removeAttribute('onclick');-->
<!--            document.getElementsByClassName('btn')[0].setAttribute('onclick', () => func1(2, 'HEAVEN'));-->
<!--        }-->
<!--        if (sessionStorage.getItem('words') == null)-->
<!--            sessionStorage.words = JSON.stringify({words: [1, 2, 3, 4, 5]});-->
<!--        console.log(JSON.parse(sessionStorage.getItem('words')).words);-->
    </script>
</body>
</html>